::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #3e573c;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #bfeeb9;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
  background: rgb(163, 219, 166);
}
html {
  overflow-x: hidden;
}
.scoreboard {
  margin-top: 60px;
  border-collapse: collapse;

  display: table;
}
.table-container-div {
  width: 100vw;

  border-bottom: 1px solid rgb(255, 255, 255);
}
.thead__container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  float: left;
  padding-bottom: 30px;
}
.scoreboard-table__data {
  text-align: center;
  font-weight: 700;
  width: 30vw;
  height: 6vh;
  padding-top: 40px;
  word-break: break-all;
  @media (max-width: 1200px) {
    padding-left: 60px;
    font-size: 14px;
  }
}
.scoreboard-search-container {
  padding-left: 30px;
}
.scoreboard-table__search {
  padding: 8px;
  outline: none;
  border: none;
  position: absolute;
  letter-spacing: 0.2px;
  padding: 10px;
  padding-left: 30px;
  width: 300px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: rgb(238, 237, 237);
  margin-top: -45px;
}
.scoreboard__searchicon {
  position: absolute;
  padding-left: 2px;
  left: 34px;
  top: -36px;
  z-index: 9001;
}
.absloutely {
  position: relative;
  width: 0;
  height: 0;
}

.player_icon {
  transition: 400ms;
  -webkit-box-shadow: 1px 0px 5px 4px #000000a2;
  box-shadow: 1px 0px 5px 1px #000000a9;
  margin-top: 30px;
  position: absolute;
  margin-left: 1vw;
  @media (max-width: 1200px) {
    transition: 400ms;
  }
}
.table_row {
  background: rgb(148, 187, 233);
  background: linear-gradient(
    90deg,
    rgba(148, 187, 233, 1) 3%,
    rgba(116, 214, 99, 1) 88%
  );
}
.table__container {
  overflow-y: scroll;
  height: 82vh;
  overflow-x: hidden;
}
