.helper {
  color: darkblue;
  margin: 30px;
  font-size: 1cm !important;
  cursor: pointer;
}
.helper:hover {
  color: rgb(2, 94, 124);
}
.giveup_helper:hover {
  color: darkred !important;
}
.game__container {
  position: relative;
  text-align: center;
  width: 70vw;
  height: 65vh;
  min-height: 380px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(-45deg, #ee7752, #ee2270, #23a6d5, #23d5ab);
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
}
.question__container {
  position: relative;
}
.helpers-container {
  transition: 300ms;
  position: absolute;
  margin-right: 80%;
}
.question {
  font-size: 26px;
  padding-top: 30px;
}

.duration_one {
  --duration: 12;
}
.duration_two {
  --duration: 8;
}
.duration_three {
  --duration: 5;
}
.round-time-bar {
  margin: 1rem;
  overflow: hidden;
}
.round-time-bar div {
  height: 20px;
  background: linear-gradient(
    -45deg,
    rgb(223, 0, 0),
    rgb(190, 0, 0),
    rgb(160, 2, 2),
    rgb(141, 0, 0)
  );
  border-radius: 8px;
  animation: gradient 0.02s ease infinite;
  animation: timer-color-change 0.2s infinite;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
    forwards;
  transform-origin: left center;
}

.round-time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}
@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
