.helper {
  color: darkblue;
  margin: 30px;
  font-size: 1cm !important;
  cursor: pointer;
}
.helper:hover {
  color: rgb(2, 94, 124);
}
.giveup_helper:hover {
  color: darkred !important;
}
.game__container {
  margin-top: 10vh;
  user-select: none;
  position: relative;
  text-align: center;
  width: 70vw;
  height: 65vh;
  min-height: 550px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(-45deg, #ee7752, #ee2270, #23a6d5, #23d5ab);
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
  box-shadow: 5px 5px 15px 5px #000000cc;
}
.mid {
  background: linear-gradient(-45deg, #8a3b23, #9e1e4f, #1e6179, #1e7460);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  color: black;
}
.hard {
  background: linear-gradient(-45deg, #692611, #553743, #a36969, #1d4b40);
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
  color: rgb(224, 224, 224);
  font-weight: bold;
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.question__container {
  position: relative;
}
.helpers-container {
  transition: 300ms;
  position: absolute;
  margin-right: 80%;
}
.question {
  font-size: 0.6cm;
  padding-top: 30px;
}
.scoreboard-container {
  user-select: none;
  background-color: rgba(226, 226, 245, 0.651);
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  margin-top: 450px;
  font-size: 0.5cm;
  border-radius: 8px;
}
.bottom_boomer {
  width: 500px;
  position: absolute;
  margin-left: -20vw;
  -webkit-box-shadow: -5px -3px 15px 5px #3f0606;
  box-shadow: -5px -3px 15px 5px #580505;
  margin-top: -10px;
  transform: skewY(-10deg);
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.rating-div {
  user-select: none;
  margin-top: 5vh;
  padding: 1px;
  margin-bottom: -5vh;
  border-radius: 12px;
  padding-left: 16px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
  box-shadow: 5px 5px 15px 5px #000000cc;
  p {
    padding-left: 19px;
  }
  background-color: whitesmoke;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}
.lost_the_game {
  position: absolute;
  width: 600px;
  height: 500px;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 17vh;
  padding: 40px;
  background: linear-gradient(
    -45deg,
    rgb(128, 255, 160),
    rgb(27, 204, 130),
    rgb(206, 180, 180),
    rgb(221, 55, 55)
  );
  border-radius: 8px;
  animation: gradient 3s ease;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  @media (max-width: 800px) {
    padding: 20px;
    margin-left: 10%;
    width: 400px;
    height: 400px;
  }
  @media (min-width: 2200px) {
    padding: 20px;
    margin-left: 35%;
    width: 700px;
    height: 700px;
  }
}
.second {
  margin-left: 0;
  padding: 10px;
  width: 300px;
  height: 400px;
  animation: gradient 5s ease;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.third {
  margin-left: 80vw;
  padding: 4px;
  width: 300px;
  height: 400px;
  animation: gradient 5s ease;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fourth {
  margin-left: 60vw;
  margin-top: 0;
  padding: 4px;
  width: 300px;
  height: 400px;
  transform: rotate(20deg) !important;
}
.fifth {
  margin-left: 50vw;
  margin-top: 35vw;
  padding: 4px;
  width: 300px;
  height: 400px;
  transform: rotate(180deg) !important;
}
.lost {
  display: none;
}
.duration_one {
  --duration: 12;
}
.duration_two {
  --duration: 8;
}
.duration_three {
  --duration: 5;
}
.duration_four {
  --duration: 2.5;
}
.round-time-bar {
  margin: 1rem;
  overflow: hidden;
}
.round-time-bar div {
  height: 20px;
  background: linear-gradient(
    -45deg,
    rgb(223, 0, 0),
    rgb(190, 0, 0),
    rgb(160, 2, 2),
    rgb(141, 0, 0)
  );
  border-radius: 8px;
  animation: gradient 0.02s ease infinite;
  animation: timer-color-change 0.2s infinite;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
    forwards;
  transform-origin: left center;
}
.round-time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}
@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.start-quiz-component {
  margin-left: 45%;
}
html {
  background-color: whitesmoke;
}
.lost__links {
  cursor: pointer;
  user-select: none;
  font-size: 0.6cm;
  color: darkred;
  transition: 300ms;
  background-color: rgb(169, 226, 55);
  padding: 5px;
  border-radius: 6px;
  margin-right: 10px;
  margin-left: 10px;
}
.lost__links:hover {
  transition: 300ms;
  background-color: rgb(139, 189, 39);
  color: rgb(250, 250, 250);
}
.lost__links:active {
  transition: 0ms;
  background-color: rgb(108, 145, 36);
}
.leaderboard-home__link {
  cursor: pointer;
  user-select: none;
  font-size: 0.8cm;
  color: darkred;
  transition: 300ms;
  background-color: rgb(169, 226, 55);
  padding: 5px;
  border-radius: 6px;
  margin-top: 60px;
  height: 80px;
  width: 300px;
  margin-left: 40vw;
}
.leaderboard-home__link:hover {
  transition: 300ms;
  background-color: rgb(139, 189, 39);
  color: rgb(250, 250, 250);
}
.leaderboard-home__link:active {
  transition: 0ms;
  background-color: rgb(108, 145, 36);
}
.lost_game_homebuttons {
  position: absolute;
  margin-top: 47vh;
  border-radius: 32px;
  margin-left: 35vw;
  background-color: whitesmoke;
  padding: 12px;
}
